<h1>Create a New Party</h1>

<!-- username email password -->
<%= form_for @party do |f| %>
  <%= f.label :table %>
  <%= f.text_field :table %>
  <!-- note that this is a password field, dont mess this up! -->
  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.label :reservation_name %>
  <%= f.text_field :reservation_name %>

  <%= f.submit %>
<% end %>
