

<div class="twelve columns newitem">
<h1>Add Item to the Menu</h1>
<%= form_for @item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <!-- note that this is a password field, dont mess this up! -->
  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :dietary_restriction %>
  <%= f.text_field :dietary_rest %>
  <br>
  <%= f.submit %>
<% end %>
</div>
